* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Horizontalni meni */

.toolbar {
    position: fixed;
    top: 0;
    width: 100%;
}

.toolbar ul {
    overflow: hidden;
    list-style: none;
}

.toolbar ul li {
    background-color: brown;
    width: 25%;
    float: left;
    border: 1px solid white;
    text-align: center;
}

.toolbar a {
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.toolbar a:hover {
    background-color: chocolate;
}


/* Vertikalni meni */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
}

footer ul li {
    background-color: brown;
    width: 25%;
    border: 1px solid white;
}

footer a {
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

footer a:hover {
    background-color: chocolate;
}



/* Padajuci podmeni */

.submenu {
    display: none;
}

.toolbar ul li:nth-child(4):hover .submenu {
    display: block;
}