img {
    width: 50%;
}

@media only screen and (max-width: 700px) {
    img {
        width: 100%;
    }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
    p {
        color: purple;
    }
    img {
        border: 5px dotted blue;
    }
}

/* U predstojećem komentaru nalazi se alternativni kod za prethono rešenje */
/* 
@media only screen and (min-width: 500px) {
    @media only screen and (max-width: 700px) {

    }
}  
*/
